# Library

In [1]:
import pandas as pd

# Dataframes setup

## Load csv

In [4]:
data = pd.read_csv("../streamlit_prep/predicted_reviews.csv")
data.rename(columns={'lng':'lon'}, inplace=True)
data.fillna('nan', inplace=True)
data = data.drop(columns=['manually_added_emotion', 'joy, sad, worry, anger, neutral'])
data.head()

,place_id,lat,lon,Text,clean_text,tokenized_text,emotion
0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Nice budget hotel....room is clean and well ma...,nice budget hotelroom is clean and well mainta...,"['nice', 'budget', 'hotelroom', 'is', 'clean',...",worry
1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,This hotel is well managed with great staff on...,this hotel is well managed with great staff on...,"['this', 'hotel', 'is', 'well', 'managed', 'wi...",worry
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"['our', 'of', 'lovely', 'service', 'clean', 'a...",joy
3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"['very', 'dirty', 'carpet', 'never', 'been', '...",joy
4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"['even', 'star', 'is', 'too', 'much', 'for', '...",joy

## Top 10 place_ids

In [12]:
joy_df = data[data['emotion']=='joy']

In [13]:
joy_df.head()

,place_id,lat,lon,Text,clean_text,tokenized_text,emotion
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"['our', 'of', 'lovely', 'service', 'clean', 'a...",joy
3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"['very', 'dirty', 'carpet', 'never', 'been', '...",joy
4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"['even', 'star', 'is', 'too', 'much', 'for', '...",joy
5,ChIJM6qXlrWk2EcRKcE2DZNpaXE,51.577553,0.186761,I meet with friends this nice place quite ofte...,i meet with friend this nice place quite often...,"['meet', 'with', 'friend', 'this', 'nice', 'pl...",joy
7,ChIJM6qXlrWk2EcRKcE2DZNpaXE,51.577553,0.186761,I went for 2 nights amazing staff super friend...,i went for night amazing staff super friendly ...,"['went', 'for', 'night', 'amazing', 'staff', '...",joy

In [41]:
# joy_df['place_id'].value_counts()

In [39]:
# df.groupby(['Animal']).mean()
joyest = joy_df['place_id'].value_counts().index.tolist()[:3]
joyest

['ChIJNT8NrJEPdkgRmyDOqth_efg',
 'ChIJETtNr3uo2EcR7LhqLWmah8w',
 'ChIJdX6YBbik2EcRmqHVqP63Nn0']

In [38]:
# df.loc[(df['Salary_in_1000']>=100)]
# joy_df[['place_id']==joyest]
top_joy_1 = joy_df.loc[(joy_df['place_id']==joyest[0])][:1]
top_joy_2 = joy_df.loc[(joy_df['place_id']==joyest[1])][:1]
top_joy_3 = joy_df.loc[(joy_df['place_id']==joyest[2])][:1]
top_joy_4 = joy_df.loc[(joy_df['place_id']==joyest[3])][:1]
top_joy_5 = joy_df.loc[(joy_df['place_id']==joyest[4])][:1]
top_joy = pd.concat([top_joy_1, top_joy_2, top_joy_3, top_joy_4, top_joy_5])
top_joy.head()

,place_id,lat,lon,Text,clean_text,tokenized_text,emotion
440,ChIJNT8NrJEPdkgRmyDOqth_efg,51.486328,-0.202669,I called reception and found out I got the bre...,i called reception and found out i got the bre...,"['called', 'reception', 'and', 'found', 'out',...",joy
320,ChIJETtNr3uo2EcR7LhqLWmah8w,51.507445,0.038781,Great location )only minutes walk from the Exc...,great location only minute walk from the excel...,"['great', 'location', 'only', 'minute', 'walk'...",joy
45,ChIJdX6YBbik2EcRmqHVqP63Nn0,51.578516,0.175971,Had a great stay! very welcoming and friendly....,had a great stay very welcoming and friendly r...,"['had', 'great', 'stay', 'very', 'welcoming', ...",joy
501,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Room and hotel were clean and fit for purpose....,room and hotel were clean and fit for purpose ...,"['room', 'and', 'hotel', 'were', 'clean', 'and...",joy
1226,ChIJW7P2oU0EdkgR9aIBvHUKfD0,51.455381,-0.144717,This hotel was amazing after what we experienc...,this hotel wa amazing after what we experience...,"['this', 'hotel', 'wa', 'amazing', 'after', 'w...",joy

In [21]:
top10_joy = joy_df[[joy_df['place_id']==joyest]]

ValueError: Lengths must match to compare

## Define emotion and emoji

In [11]:
# define emoji
#jJOY_URL="https://res.cloudinary.com/dq7pjfkgz/image/upload/v1606418659/joy_gabpby.png"
JOY_URL=JOY_URL
SAD_URL="https://res.cloudinary.com/dq7pjfkgz/image/upload/v1606418659/sad_icpf1w.png"
WORRY_URL="https://res.cloudinary.com/dq7pjfkgz/image/upload/v1606418659/worry_rwobfs.png"
ANGER_URL="https://res.cloudinary.com/dq7pjfkgz/image/upload/v1606418659/angry_shqypp.png"
NEUTRAL_URL="https://res.cloudinary.com/dq7pjfkgz/image/upload/v1606418659/neutral_evi6qa.png"
joy_icon = {"url": 'JOY_URL', "width": 242, "height": 242, "anchorY": 242,}
sad_icon = {"url": SAD_URL, "width": 242, "height": 242, "anchorY": 242,}
worry_icon = {"url": WORRY_URL, "width": 242, "height": 242, "anchorY": 242,}
anger_icon = {"url": ANGER_URL, "width": 242, "height": 242, "anchorY": 242,}
neutral_icon = {"url": NEUTRAL_URL, "width": 242, "height": 242, "anchorY": 242,}

NameError: name 'JOY_URL' is not defined

In [6]:
# split dataframe to emotions
joy_df = data[data['emotion']=='joy'] #updatekey
joy_df["emoji"] = None
for i in joy_df.index:
    joy_df["emoji"][i] = joy_icon

sad_df = data[data['emotion']=='sad']  #updatekey
sad_df["emoji"] = None
for i in sad_df.index:
    sad_df["emoji"][i] = sad_icon

worry_df = data[data['emotion']=='worry']  #updatekey
worry_df["emoji"] = None
for i in worry_df.index:
    worry_df["emoji"][i] = worry_icon

anger_df = data[data['emotion']=='anger']  #updatekey
anger_df["emoji"] = None
for i in anger_df.index:
    anger_df["emoji"][i] = anger_icon

neutral_df = data[data['emotion']=='neutral']  #updatekey
neutral_df["emoji"] = None
for i in neutral_df.index:
    neutral_df["emoji"][i] = neutral_icon

c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\al\.venvs\lewagon\lib\site-packages\IPython\core\interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
joy_df.shape

(749, 8)

## Export emotion dataframes

In [8]:
joy_df.to_csv("../streamlit_prep/joy_df.csv", index=False)
sad_df.to_csv("../streamlit_prep/sad_df.csv", index=False)
worry_df.to_csv("../streamlit_prep/worry_df.csv", index=False)
anger_df.to_csv("../streamlit_prep/anger_df.csv", index=False)
neutral_df.to_csv("../streamlit_prep/neutral_df.csv", index=False)

In [9]:
x = pd.read_csv("../streamlit_prep/joy_df.csv")
x.head()

,place_id,lat,lon,Text,clean_text,tokenized_text,emotion,emoji
0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"['our', 'of', 'lovely', 'service', 'clean', 'a...",joy,"{'url': 'JOY_URL', 'width': 242, 'height': 242..."
1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"['very', 'dirty', 'carpet', 'never', 'been', '...",joy,"{'url': 'JOY_URL', 'width': 242, 'height': 242..."
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"['even', 'star', 'is', 'too', 'much', 'for', '...",joy,"{'url': 'JOY_URL', 'width': 242, 'height': 242..."
3,ChIJM6qXlrWk2EcRKcE2DZNpaXE,51.577553,0.186761,I meet with friends this nice place quite ofte...,i meet with friend this nice place quite often...,"['meet', 'with', 'friend', 'this', 'nice', 'pl...",joy,"{'url': 'JOY_URL', 'width': 242, 'height': 242..."
4,ChIJM6qXlrWk2EcRKcE2DZNpaXE,51.577553,0.186761,I went for 2 nights amazing staff super friend...,i went for night amazing staff super friendly ...,"['went', 'for', 'night', 'amazing', 'staff', '...",joy,"{'url': 'JOY_URL', 'width': 242, 'height': 242..."

In [10]:
x['emoji'][0]

"{'url': 'JOY_URL', 'width': 242, 'height': 242, 'anchorY': 242}"