# Like the review, grab the place_id and go!

In [ ]:
# https://www.google.com/maps/place/?q=place_id:ChIJZ9pzJ8UPdkgRn46ont0RtTY

# Load Prediction.csv

In [2]:
import pandas as pd
from LondonEmotions.data import clean_data

In [8]:
df = pd.read_csv("../raw_data/prediction.csv")
# df = df.review.astype(str)
df.head()

                      place_id        lat       lng                                             review
0  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Nice budget hotel....room is clean and well ma...
1  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  This hotel is well managed with great staff on...
2  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  10 our of 10 lovely service, clean and homely....
3  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Very Dirty, carpet never been cleaned, Curry s...
4  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Even 1 star is too much for this terrible hote...

In [9]:
# rename it to Text
df.rename(columns={'review': 'Text'}, inplace=True)
df['Text'] = df['Text'].astype(str)
df.head()

                      place_id        lat       lng                                               Text
0  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Nice budget hotel....room is clean and well ma...
1  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  This hotel is well managed with great staff on...
2  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  10 our of 10 lovely service, clean and homely....
3  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Very Dirty, carpet never been cleaned, Curry s...
4  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Even 1 star is too much for this terrible hote...

# Cleaning

In [10]:
# df['clean_text'] = df['Text'].str.lower() #astype didn't work?
clean_data(df)
df.head()

,place_id,lat,lng,Text,clean_text,tokenized_text
0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Nice budget hotel....room is clean and well ma...,nice budget hotelroom is clean and well mainta...,"[nice, budget, hotelroom, is, clean, and, well..."
1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,This hotel is well managed with great staff on...,this hotel is well managed with great staff on...,"[this, hotel, is, well, managed, with, great, ..."
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"[our, of, lovely, service, clean, and, homely,..."
3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"[very, dirty, carpet, never, been, cleaned, cu..."
4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"[even, star, is, too, much, for, this, terribl..."

# Manual labelling

In [11]:
# joy, sad, angry, worry, neutral
# slice it now or later
# df = df[500:600]
# text = df['Text']
# len(df)

In [12]:
# load full text
count = 1
for i in df['Text'].iloc[500:600]:
    print(f"{count}: {i}")
    print('---------------------------')
    count += 1

1: I think this hotel is good but only shared spaces which look newly refurbished.

However some if the rooms and carpets are stained and should be replaced.

The shower screen had limescale and stagnant water which was about disgusting.

The water drainage in the shower waa very slow.

This is a place you stay asclast resort.
---------------------------
2: Room and hotel were clean and fit for purpose. Room was just a bit small. But diagonally opposite the museum, so perfectly situated. Also walking distance to Royal Albert Hall for if you book to see a show in the evening. And near South Kensington Tube station. So very good for convenience sake.
---------------------------
3: Avoid avoid.

Tiny rooms and not very clean, got given a room in a basement with a tiny window. Terrible customer service from reception task.

Parking was advertised as free but bad to pay over ¬£60 for my 2 day stay nearby.

Many better hotels nearby to chose from work free parking also
---------------------------
4: Hidden gem

Westminster Building + Decorating Ltd
My co stays there frequently
Very clean
And very close to all amenities
---------------------------
5: I am a frequent flyer for business and had to swing by this awful place, to see if there was any room available since my booking got cancelled for some reasons. The person Neil (as I heard) who appeared to be the front-desk attendant was very rude, I must say. Simple one question asking for directions to a place and his answer was very condescending and unacceptable. Pretty sure he must have had a hard day OR was drunk, as I witnessed him yelling on a customer which was very unethical. Stay away from this whatsoever place called hotel. What kind of show is the owner running, obvious from their behavior. Either train your attendants or terminate them off and get a new professional staff.
---------------------------
6: This is one of my favorite hotels! My wife and kids and I stayed at Bailey's Hotel on our visit to London this weekend. Joann and the other Bailey's staff members were so helpful and responsive. Our room was very clean, with a beautiful (vaulted ceiling), and very comfortable, all for a good price. The hotel is located in a very safe and fun part of London (Kensington) with tons of shops and restaurants nearby. I would HIGHLY recommend this hotel to anyone staying in London.
---------------------------
7: I really loved my stay in this hotel. Aside from it's perfect location, beautiful room and lucrative ambiance, we had the most impeccable customer service. Joan and the other staff were very pleasant, warm and accommodating. I would definitely stay here again on my next visit.
---------------------------
8: Beautiful hotel and Excellent Service

The staff are extremely friendly and management helpful.  Room service excellent.  They did a great job in implementing the Covid regulations.  Will definitely come back!
---------------------------
9: ‚ÄúPerfect staycation‚Äù
Not the type to usually write a review but this hotel and its staff is worth mentioning! Having stayed in other hotels this was by far the one where the staff can‚Äôt be faulted! From the breakfast staff to cleaning and reception everyone was super attentive without being too intrusive.
The facilities and location are amazing and all covid measures are being taken and rules enforced.
Hope to be back soon!
Thank you for such an amazing stay!
---------------------------
10: A lovely getaway in the heart of London. Delight decor, excellent fare and wonderful staff made our stay truly memorable. Afternoon tea should not be missed and I look forward to experiencing Bailey‚Äôs hospitality again!
---------------------------
11: We've attended a concert at Shepherd's Bush Empire and the Ibis is located nearby, just a 2 minute walk. Staff was a bit too chatty for my taste,  the cleanliness was ok, but not very thorough on daily rounds. Other than that the hotel was a good choice.
---------------------------
12: Stayed there for a night back in November, good value, nice and modern hotel, good food! Will use again if in the area!
---------------------------
13: Very cheap hotel which is super close to westfield shopping centre and the tube station. Nothing fancy about the hotel but comfy beds and tidy facilities. Check in took a while despite being after the check in time as no rooms were clean. Luckily we werent in a rush and the staff were very accommodating whilst we were waiting.
---------------------------
14: A rather simple hotel. But good modern atmosphere. Beds are lovely and the shower is sufficient. Breakfast is rather good. Lots of different choices. Excellent location. Not far from Heathrow and at least two tube stations really close by. Plus the largest mall of Europe is on your doorstep! Would stay again definitely.
---------------------------
15: Great price. It was right next to the thing we were attending. Close to metro. Great service and good rooms.
---------------------------
16: Afternoon Tea at the Kensington Hotel was the best ever!  Delicious appetizers to start followed by the traditional finger sandwiches, scones, and landmark design desserts.  Staff was so accommodating!  The drawing room was gorgeous!  Celebrated with champaign too!  A very special treat.
---------------------------
17: I stayed at this hotel in 2015 yes it is a very nice hotel, I was there overnight
---------------------------
18: Afternoon tea no atmosphere in the restaurant although the settings were great.sevices was second to none. I would say the cakes were trying too hard,just keep it simple and not gimmicky. A bit disappointed for the money but didn't spoil the day
---------------------------
19: Lovely setting for afternoon tea. Cakes and savouries were all delicious. The price is what I would expect for London. The only reason a dropped a star was because the lady that served us when we arrived was a bit rude and she didn't really seem like she wanted to be there. This is not to say it will happen all the time, could just be a once off.
---------------------------
20: This is one of my all-time favorite hotels ever. We walked into the lobby very jet-lagged from our flight, but the staff was extremely kind and accommodating. I loved the nespresso machines in the rooms, for which they provided plenty of coffee pods. The breakfast atmosphere was warm and inviting, and it was absolutely delicious. I would stay here again. Thank you for a lovely experience.
---------------------------
21: This hotel was conveniently located near caf√©s, restaurants, transportation and Alexandra Ice Skating Rink, but the room we had was smelly, one bed would creak as soon as you sit on it, the lamp on the nightstand was broken, the guest upstairs was walking in the middle of the night with the floor squeaking. The room wasn‚Äôt soundproof so you could even hear the car throughout the night. I had a hard time sleeping, but it was convenient.
---------------------------
22: The staff here are lovely people, but I‚Äôm afraid that the hotel has no electricity! So that is a deal breaker. No sign of a refund no offer of any kind of candles/torch or something to make  ‚Äòcustomers‚Äô more amenable as we have been had no electricity for 12hours.
Is this actually a safe and legal situation?
---------------------------
23: Didn‚Äôt check in till 2am, it was a quick book as I was too tired to keep driving! Ali, the guy at reception was brilliant, kind, professional and a nice guy! The room was a bit tired, carpets, walls etc.. needs a freshen up for sure, but a decent place to spend a night! Many thanks to Ali again for helping me out!!
---------------------------
24: Great room, outstanding reception staff. Yes, a little outdated but who cares. Was very clean, excellent price and right in the centre
---------------------------
25: Excellent service, had a wonderful welcome from ali , who looked after us and makes us feel at home
---------------------------
26: The hotel was pretty decent the prices for the stay is cheap I stayed 2 nights here with my bf it isn‚Äôt as bad as everyone says it is
the beds are comfty and the staff bar man was really nice and funny and welcomed us nicely and a decent pub to go down for a drink and there is even small juke box to put songs and the bar man was nice enough to put a song for us.
The location is great ! since everything is nearby for food and drink.

The staffs are very friendly and welcoming.

The only thing that needed improvement was the breakfast in the rooms and to change the milk to a normal milk and the shower was bit dirty
other then that it was decent.

Don‚Äôt listen to the other reviews because it  isn‚Äôt as bad as everyone says it is,
I wouldn‚Äôt mind staying here again.
---------------------------
27: Great pub,old school boys love it as it is not as overpriced as them posh pubs up the road, even my cousins who came to visit me from abroad loved it as its got really great atmosphere and character inside, friendly and professional service, highly recommend
---------------------------
28: Stayed here a few times, always a pleasure. Good friendly staff. Cheap rooms and beer, especially for London. Everything you need right on your doorstep. Will definitely stay again üëåüëåüëå
---------------------------
29: Member of staff threatened me just after checking in. Rooms are filthy. Breakfast consists of a half drank bottle of apple juice and a carton of uht milk. Dangerous electrics in the room. Shower was broken. Staff refused to give me my invoice.
Noisy location.
If I was able to give it no stars I would.
---------------------------
30: nice pub. room was small,toilet and shower even worse, a little box. plenty of stairs to climb.
---------------------------
31: Nice hotel in the great calm location near underground station. Good point to rest after sightseeing day.
---------------------------
32: Now I believe there's is a level for everything and trust me you could do worse but you could easily do better, booked in error. Anyway this is far too expensive for value. It's not clean and central London offers better value for money. A more pleasing experience could be had else where. I would not choose to repeat the experience. And if your weighing up another place go with your gut.
---------------------------
33: Can't complain for about ¬£60pn but greater care needs to be taken on the safety of the stairs leading up to the room, the shared toilet facilities where the door was broken, our window was falling apart in the bedroom and there was still vomit and an old shoe left on the outside of the window. Then the kettle broke which was replaced by the kitchens kettle and when we went to use the taps we found the hot tap was actually the cold tap and vice versa. Upon leaving the receptionist was clearly not well throwing up in the toilet and came out with soaking wet hands to take the key from us. Not perfect but it served our needs.
---------------------------
34: Nice small hotel with enough parking
---------------------------
35: Decent enough place to stay for an overnight after a gig at Ally Pally. Clean, well presented rooms. Decent value for money
---------------------------
36: Great venue for an early morning socially distanced Tunick shoot.
---------------------------
37: Went to the drive in cinema to watch 1917 with my partner and it was an amazing experience.
I love the views there as well as the green spaces. Take your family there for a day out ! You will not be disappointed!
---------------------------
38: Make sure you COME at NIGHT!!!

The view over London is AMAZING! What is really good about Alexandra Palace is that the place is well lit and there are a lot of people who go through here, so you will feel safe. Also it's a place where you can just sit, hang out with friends and admire the stunning view.
---------------------------
39: Great place to spend time with your family. I just visited today. It's very nice and quiet. Only one funny thing... They "suggest" you to donate 3¬£ if you want to park there, but you actually need to pay, otherwise you can't park.
---------------------------
40: Always a great place to visit. Great views of London. You have to pay ¬£3 to park and all on road parking has been removed. Also the Palace appears to be closed  including the Bar
---------------------------
41: Friendly local pub with the added bonus of a Japanese restaurant tack on for great Japanese cuisine drop in and surprise yourself... I was üòúü•Ç
---------------------------
42: Horrible hotel, the heating in the room does not work most of the time - cold in the room, their solution: a small heat diffuser. No hot tap water, you can't shower! Do not change linens or clean the room - tidy up the bed and use clean towels. There is no one to evacuate and no one to talk to because the first one is a pub so the owners only arrive at 12 noon and tourists from all over the world come to stroll .... on a noisy night, but again no one to talk to and no one to evacuate. A waste of money!!!! Get away from here
---------------------------
43: A nice pub a bit tired but good atmosphere and friendly staff. But the rooms are nothing like the pub very well keep was very surprised how good the rooms was. Would definitely stay again and would recommend to others
---------------------------
44: Great if you wana just dance the night away to the latest music
---------------------------
45: The pub itself could use a serious make over but the owners(not the manager) really don't want to spend any money on it which makes the prices sting a bit.
The locals are welcoming and it's just a nice place for a quiet drink. At the weekend they have djs ect. And a large dance floor. There are also pub games like darts and pool. The bar staff helpful and polite and the range of drinks and food on offer are actually refreshingly wide. The manager malik is friendly and accommodating and has a zero tollerence for trouble makers so you can feel safe spending time here. The pub itself is really charming and the beer garden in the rear is huge so big in fact the regulars sometimes have a little kick around with a ball! Also they are a hotel and the rooms are quite nice and very well kept. The prices are fair but the pub itself really needs brightening up and the hack job repairs that have been done are ugly and to my line unacceptable that's the reason for the 3 stars
---------------------------
46: Always good for a pint. Not the most stunning of London's pubs although it is big and spacious.

Has a great variety of beers.

Men's bathroom a touch gross, strong anomia smell, like nobody hit the bowl or urinal since the 90s.

One way system in place for corona-virus, staff don't wear masks.
---------------------------
47: Excellent selection of tap beers and bottled beers. Strong IPAs & even a German dark beer on tap. Good food served until 10pm selection of burgers, Mexican & tapas. Building and architecture is all original 1899 style. Can be busy on weekends so you may need to book a table.
---------------------------
48: Nice spacious pub, cracking selection of lagers, but all too expensive and only two ales. Also no proper cider apart from the fizzy/poppy stuff which is a shame. Kind of annoying that they're adding table service fees to a pint just because of government restrictions. Lovely atmosphere but overall too expensive.
---------------------------
49: Decor is absolutely phenomenal , two fireplaces and really tall ceilings . It used to be a train station or something. Good selection of drinks never tired food.
---------------------------
50: Had a great roast beef with beer.
Staff is friendly and professional
good interior and seating i had a nice experience
---------------------------
51: nan
---------------------------
52: nan
---------------------------
53: nan
---------------------------
54: nan
---------------------------
55: nan
---------------------------
56: Very good accommodation. The room was clean and pleasant.
---------------------------
57: Cozy and nice place, the room was quite big, you can use kitchen.
---------------------------
58: Found b & b thanks to Booking, but I will try to start from the positive sides: easy booking, we trusted the reviews on the portal in question since there is nothing on Tripadvisor. The house is located about 800 m from the Wood Green subway close to many take away and discount restaurants, we are greeted by the host who explains where the kitchen, the floor, the room is located, where the services are located etc. the downsides. My partner and I look at each other and we immediately understand that the structure has nothing to do with a b & b, rather it looks more like a hostel where rooms are rented. As for breakfast you had to buy the stuff and prepare it in the kitchen (no comment ...), we go up the micro steps that lead us to the upper floor, room with one exposure, nothing to do with the photos seen from Booking, small bed and with short blankets (in addition to the fact that the heating for the first 3 days worked intermittently and was freezing), in the bathroom small tub and without even a socket to dry your hair (the sockets were in the room as if I had to dry myself the hair sitting in bed ...), if the toilet paper ran out it was not replenished (we had to buy it again), absolutely nothing was given, no shower gel, only hand soap and 2 towels that we put to dry because otherwise we would not have had the replacement. As a first experience in London I do not recommend this structure, because it is in all respects a hostel and not a b & b.
---------------------------
59: nan
---------------------------
60: nan
---------------------------
61: I would give zero starts if I could....Islington Council is open every day, Haringey isn't...Why is that? There is absolutely no reason whatsoever not to open the section for parking permits. It is massive inside and easily allows for staff to be kept safe by allowing only limited number of people in, only using every second desk and put protective screens up! It seems to be that Covid is used by this particular Council as an excuse for the same inefficiency and laziness  that I witnessed over the past 2 decades regardless what department I had to deal with! Sad, still no accountability for Haringey Council - they made a few times the news over the years for being the worst Council ever and not much seems to have changed ;(!
---------------------------
62: I couldn't get my parking permission because one of the pages had a wrong date on it.
My log book is on the address my tenancy agreement is on the address and they trying to play a game with me. Getting emails from no reply email addresses.
Payed 207¬£ upfront and received nothing back.
No wonder why they have a good reputation......
---------------------------
63: zero stars - utter disgrace - will take your council tax money - parking permit fees - then have streets full of parking wardens when no one will pick up the phone - every excuse ready - please go to website etc etc - dont worry we'll be on point to send you your fines first thing in post - shambolic council -  shame on you - totally useless - utter BS - just look at the reviews on this page!!
---------------------------
64: Government sucks at EVERYTHING!!!
This is because there is NO accountability!
It‚Äôs not like they are loosing money if you don‚Äôt like their service.

Just look at amazons reviews or ANY big cooperation / company!!
This is because if people are not happy, they go elsewhere or start their own business, so in order to keep making money, they will try their best to offer the best products at the best prices AND the best service!!

This is why I support small government together with capitalism. #BenShapiro

Good day to you allüëç
---------------------------

In [15]:
# labelling
answer = ['worry', 'joy', 'sad', 'joy', 'sad', 'joy', 'joy', 'joy', 'joy', 'joy',
        'neutral', 'joy', 'neutral', 'joy', 'joy', 'joy', 'joy', 'worry', 'worry', 'joy',
        'sad', 'anger', 'worry', 'joy', 'joy', 'worry', 'neutral', 'joy', 'anger', 'worry',
        'joy', 'sad', 'joy', 'sad', 'neutral', 'joy', 'joy', 'joy', 'worry', 'joy',
        'joy', 'joy', 'anger', 'joy', 'joy', 'worry', 'worry', 'joy', 'joy', 'joy',
        'neutral', 'neutral', 'neutral', 'neutral', 'neutral', 'joy', 'joy', 'worry', 'neutral', 'neutral',
        'sad', 'sad', 'anger', 'anger', 'anger', 'neutral', 'joy', 'worry', 'sad', 'joy',
        'joy', 'joy', 'joy', 'joy', 'joy', 'joy', 'worry', 'sad', 'worry', 'neutral',
        'anger', 'anger', 'joy', 'anger', 'joy', 'joy', 'anger', 'worry', 'joy', 'joy',
        'joy', 'joy', 'joy', 'anger', 'neutral', 'joy', 'worry', 'joy', 'sad', 'sad']

In [16]:
# check it's 100
len(answer)

100

In [19]:
# bang the labels to new column 'emotion'
alan_df = df[500:600]
alan_df['emotion'] = answer

c:\users\al\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
alan_df['emotion'].value_counts()

joy        49
worry      15
neutral    14
sad        11
anger      11
Name: emotion, dtype: int64

In [14]:
df['place_id'][513]

'ChIJZ9pzJ8UPdkgRn46ont0RtTY'

In [23]:
alan_df.head()

,place_id,lat,lng,Text,clean_text,tokenized_text,emotion
500,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,I think this hotel is good but only shared spa...,i think this hotel is good but only shared spa...,"[think, this, hotel, is, good, but, only, shar...",worry
501,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Room and hotel were clean and fit for purpose....,room and hotel were clean and fit for purpose ...,"[room, and, hotel, were, clean, and, fit, for,...",joy
502,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Avoid avoid.\r\n\r\nTiny rooms and not very cl...,avoid avoid tiny room and not very clean got g...,"[avoid, avoid, tiny, room, and, not, very, cle...",sad
503,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Hidden gem\r\n\r\nWestminster Building + Decor...,hidden gem westminster building decorating ltd...,"[hidden, gem, westminster, building, decoratin...",joy
504,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,I am a frequent flyer for business and had to ...,i am a frequent flyer for business and had to ...,"[am, frequent, flyer, for, business, and, had,...",sad

In [22]:
alan_df.to_csv('alan_df.csv', index=False)

In [65]:
alan_df2 = pd.read_csv('alan_df.csv')
alan_df2.head()

,place_id,lat,lng,Text,clean_text,tokenized_text,emotion
0,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,I think this hotel is good but only shared spa...,i think this hotel is good but only shared spa...,"['think', 'this', 'hotel', 'is', 'good', 'but'...",worry
1,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Room and hotel were clean and fit for purpose....,room and hotel were clean and fit for purpose ...,"['room', 'and', 'hotel', 'were', 'clean', 'and...",joy
2,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Avoid avoid.\r\n\r\nTiny rooms and not very cl...,avoid avoid tiny room and not very clean got g...,"['avoid', 'avoid', 'tiny', 'room', 'and', 'not...",sad
3,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,Hidden gem\r\n\r\nWestminster Building + Decor...,hidden gem westminster building decorating ltd...,"['hidden', 'gem', 'westminster', 'building', '...",joy
4,ChIJKSDtn10FdkgRPbUAQKJlQ7U,51.495128,-0.179319,I am a frequent flyer for business and had to ...,i am a frequent flyer for business and had to ...,"['am', 'frequent', 'flyer', 'for', 'business',...",sad

# Apply the model (old)

In [ ]:
! ls ../raw_data

In [ ]:
from tensorflow.keras.models import load_model

In [ ]:
# # model = load_model('./raw_data')
# # model = load_model(os.path.join("../raw_data","saved_model.pd"))
# # model = load_model('gs://wagon-ml-london-emotions/models/emotions/v2/saved_model.pb')
#model = load_model('../raw_data/saved_model.pb')
# #loaded_model = tf.keras.models.load_model('../raw_data')

# model = load_model('../raw_data')
# filepath = '../raw_data'
# # with file_io.FileIO(filepath, mode='r') as f

In [ ]:
# model = load_model('../raw_data')
model = load_model('../raw_data/saved_model.pb')

In [ ]:
model.(df)

# Apply the model new

## Grab and clean data

In [24]:
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from gensim import utils

import nltk
nltk.download('stopwords')

from LondonEmotions.utils import create_embedding_matrix
from tensorflow.python.lib.io import file_io

In [40]:
review_df = pd.read_csv('../raw_data/prediction.csv')
review_df.rename(columns = {'review': 'Text'}, inplace=True)
review_df['Text'] = review_df['Text'].astype(str)
review_df.head()

                      place_id        lat       lng                                               Text
0  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Nice budget hotel....room is clean and well ma...
1  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  This hotel is well managed with great staff on...
2  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  10 our of 10 lovely service, clean and homely....
3  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Very Dirty, carpet never been cleaned, Curry s...
4  ChIJiwVttYym2EcRUdFHMteOfCo  51.563524  0.070761  Even 1 star is too much for this terrible hote...

In [41]:
clean_data(review_df)
review_df.head()

,place_id,lat,lng,Text,clean_text,tokenized_text
0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Nice budget hotel....room is clean and well ma...,nice budget hotelroom is clean and well mainta...,"[nice, budget, hotelroom, is, clean, and, well..."
1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,This hotel is well managed with great staff on...,this hotel is well managed with great staff on...,"[this, hotel, is, well, managed, with, great, ..."
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"[our, of, lovely, service, clean, and, homely,..."
3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"[very, dirty, carpet, never, been, cleaned, cu..."
4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"[even, star, is, too, much, for, this, terribl..."

## The model

In [42]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.python.lib.io import file_io
import pickle

In [48]:
num_classes = 5
embed_num_dims = 300
max_seq_len = 300
class_names = ['joy', 'worry', 'anger', 'sad', 'neutral']

reviews = review_df['tokenized_text']

sentences_pred = [[_ for _ in sentence] for sentence in reviews]

texts_pred = [' '.join([x for x in sentence]) for sentence in sentences_pred]

# Tokenize text (convert to integers) (LOAD SAVED TOKNIZER -- CAN ALSO RETRIEVE FROM GCP)
filepath = '../raw_data/tokenizer.pickle'
with file_io.FileIO(filepath, mode='rb') as handle:
    tokenizer = pickle.load(handle)

sequence_pred = tokenizer.texts_to_sequences(texts_pred)

index_of_words = tokenizer.word_index

# vacab size is number of unique words + reserved 0 index for padding
vocab_size = len(index_of_words) + 1

# Padding text sentences
X_pred_pad = pad_sequences(sequence_pred, maxlen = max_seq_len )

In [49]:
X_pred_pad

array([[   0,    0,    0, ...,  197,   84,  537],
       [   0,    0,    0, ..., 3334,  541,  876],
       [   0,    0,    0, ...,  876,   19,   23],
       ...,
       [   0,    0,    0, ..., 8558,  271,  684],
       [   0,    0,    0, ..., 5649,   73, 1052],
       [   0,    0,    0, ...,  749,  294,  211]])

In [ ]:
# Encode target
    encoding = {
    'anger': 0,
    'joy': 1,
    'worry': 2,
    'neutral': 3,
    'sad': 4
    }

In [50]:
from tensorflow.keras.models import load_model
model = load_model('../raw_data/saved_model.pb')
preds = model.predict(X_pred_pad)

In [51]:
print(preds)

[[0.02905648 0.19406627 0.50860006 0.0276215  0.24065568]
 [0.12818776 0.07312929 0.45927614 0.07705467 0.2623521 ]
 [0.05074719 0.5071262  0.15375517 0.19909781 0.08927361]
 ...
 [0.08875266 0.20280546 0.5838012  0.05758075 0.06705988]
 [0.05030318 0.08474547 0.2960779  0.5027143  0.06615911]
 [0.09284611 0.13587722 0.32487068 0.05110097 0.3953051 ]]

In [52]:
preds

array([[0.02905648, 0.19406627, 0.50860006, 0.0276215 , 0.24065568],
       [0.12818776, 0.07312929, 0.45927614, 0.07705467, 0.2623521 ],
       [0.05074719, 0.5071262 , 0.15375517, 0.19909781, 0.08927361],
       ...,
       [0.08875266, 0.20280546, 0.5838012 , 0.05758075, 0.06705988],
       [0.05030318, 0.08474547, 0.2960779 , 0.5027143 , 0.06615911],
       [0.09284611, 0.13587722, 0.32487068, 0.05110097, 0.3953051 ]],
      dtype=float32)

In [53]:
preds_categorical = []
for prediction in preds:
    preds_categorical.append(np.argmax(prediction))

In [54]:
preds_categorical

[2,
 2,
 1,
 1,
 1,
 1,
 4,
 1,
 2,
 2,
 4,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 4,
 2,
 0,
 4,
 2,
 1,
 1,
 1,
 4,
 4,
 1,
 2,
 1,
 2,
 1,
 4,
 0,
 1,
 2,
 1,
 1,
 2,
 4,
 4,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 4,
 3,
 4,
 1,
 0,
 3,
 0,
 3,
 4,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 1,
 3,
 2,
 2,
 1,
 2,
 3,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 4,
 2,
 2,
 1,
 2,
 4,
 2,
 3,
 1,
 1,
 4,
 2,
 1,
 1,
 2,
 2,
 3,
 4,
 1,
 4,
 4,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 4,
 1,
 1,
 2,
 2,
 2,
 3,
 3,
 1,
 2,
 1,
 1,
 1,
 1,
 4,
 3,
 4,
 3,
 1,
 2,
 2,
 2,
 1,
 3,
 3,
 3,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 0,
 3,
 1,
 4,
 1,
 2,
 1,
 3,
 3,
 2,
 3,
 1,
 1,
 1,
 1,
 2,
 4,
 4,
 2,
 2,
 2,
 2,
 3,
 3,
 1,
 4,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 0,
 3,
 1,
 2,
 1,
 2,
 1,
 3,
 2,
 4,
 1,
 4,
 3,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 4,
 2,
 3,
 3,
 1,
 2,
 3,
 1,
 2,
 4,
 2,
 4,
 1,
 1,
 1,
 3,
 2,
 2,
 1,
 3,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 3,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 4,
 1,
 0,
 1,
 2,
 1,
 1,
 3,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 4,
 1,
 1,
 3,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 4,
 2,
 4,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 3,
 2,
 1,
 3,
 1,
 2,
 2,
 4,
 2,
 2,
 4,
 1,
 2,
 2,
 1,
 1,
 2,
 3,
 1,
 1,
 2,
 1,
 1,
 0,
 2,
 2,
 1,
 3,
 1,
 4,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 3,
 1,
 2,
 3,
 1,
 1,
 3,
 4,
 2,
 1,
 1,
 0,
 2,
 4,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 1,
 0,
 1,
 1,
 2,
 3,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 3,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 1,
 1,
 3,
 2,
 4,
 1,
 3,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 1,
 3,
 1,
 4,
 1,
 1,
 1,
 1,
 0,
 1,
 2,
 2,
 4,
 2,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 3,
 1,
 4,
 2,
 1,
 4,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 3,
 4,
 2,
 1,
 2,
 2,
 1,
 1,
 3,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 4,
 2,
 1,
 2,
 2,
 1,
 1,
 4,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 4,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 3,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 4,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 2,
 3,
 3,
 1,
 1,
 1,
 2,
 2,
 3,
 1,
 2,
 3,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 3,
 1,
 3,
 2,
 3,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 4,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 4,
 1,
 4,
 4,
 1,
 4,
 3,
 2,
 1,
 3,
 1,
 0,
 3,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 3,
 1,
 2,
 1,
 2,
 1,
 2,
 3,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 4,
 4,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 2,
 3,
 2,
 4,
 1,
 2,
 1,
 4,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 4,
 2,
 0,
 4,
 2,
 1,
 3,
 1,
 2,
 2,
 2,
 4,
 2,
 2,
 2,
 2,
 2,
 4,
 2,
 1,
 4,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 4,
 3,
 0,
 3,
 4,
 2,
 4,
 3,
 4,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 0,
 3,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 0,
 3,
 2,
 2,
 2,
 2,
 3,
 1,
 1,
 4,
 2,
 1,
 1,
 2,
 1,
 3,
 0,
 2,
 1,
 2,
 1,
 4,
 1,
 2,
 4,
 2,
 2,
 1,
 3,
 3,
 1,
 4,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 3,
 3,
 1,
 2,
 1,
 0,
 1,
 2,
 1,
 2,
 0,
 2,
 4,
 1,
 4,
 3,
 2,
 2,
 2,
 2,
 4,
 2,
 2,
 1,
 1,
 3,
 3,
 2,
 2,
 2,
 2,
 3,
 1,
 2,
 2,
 4,
 2,
 3,
 2,
 1,
 4,
 1,
 2,
 1,
 1,
 2,
 4,
 3,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 3,
 1,
 2,
 4,
 2,
 2,
 4,
 2,
 1,
 2,
 4,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 4,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 3,
 2,
 3,
 1,
 4,
 3,
 2,
 4,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 3,
 3,
 1,
 1,
 2,
 2,
 3,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 4,
 4,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 4,
 2,
 1,
 2,
 2,
 4,
 2,
 1,
 2,
 3,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 1,
 1,
 2,
 1,
 2,
 4,
 4,
 1,
 2,
 1,
 4,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 ...]

In [56]:
encoding = {0: 'anger', 1: 'joy', 2: 'worry', 3: 'neutral', 4: 'sad'}
pred_series = pd.Series(preds_categorical)
review_predictions = pred_series.map(encoding)
review_predictions.value_counts()

worry      794
joy        749
neutral    214
sad        202
anger       86
dtype: int64

In [58]:
review_df['emotion'] = review_predictions
review_df.head()

,place_id,lat,lng,Text,clean_text,tokenized_text,emotion
0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Nice budget hotel....room is clean and well ma...,nice budget hotelroom is clean and well mainta...,"[nice, budget, hotelroom, is, clean, and, well...",worry
1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,This hotel is well managed with great staff on...,this hotel is well managed with great staff on...,"[this, hotel, is, well, managed, with, great, ...",worry
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"[our, of, lovely, service, clean, and, homely,...",joy
3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"[very, dirty, carpet, never, been, cleaned, cu...",joy
4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"[even, star, is, too, much, for, this, terribl...",joy

In [63]:
# manually labeled:
# joy        49
# worry      15
# neutral    14
# sad        11
# anger      11

# what the model predict?
review_df['emotion'][500:600].value_counts()

worry      46
joy        32
neutral    15
sad         4
anger       3
Name: emotion, dtype: int64

# Merge labelled data

In [89]:
# pd.concat([df1, df2])
def merge(df1, df2, df3):
    merged_df = pd.concat([df1, df2, df3])
    return merged_df

In [85]:
df3 = pd.read_csv('../raw_data/label_aude.csv')
df3.head()

,place_id,lat,lng,Text,clean_text,tokenized_text,emotion,emo_manually_added
0,ChIJv29u9WYbdkgRBrykLCrPnQw,51.539604,-0.102586,"Absolutely perfect restaurant, in fact it coul...",absolutely perfect restaurant in fact it could...,"['absolutely', 'perfect', 'restaurant', 'in', ...",sad,sad
1,ChIJv29u9WYbdkgRBrykLCrPnQw,51.539604,-0.102586,Finally visited after the closure of Little Ba...,finally visited after the closure of little ba...,"['finally', 'visited', 'after', 'the', 'closur...",worry,joy
2,ChIJv29u9WYbdkgRBrykLCrPnQw,51.539604,-0.102586,Thrilled that this beautiful restaurant has op...,thrilled that this beautiful restaurant ha ope...,"['thrilled', 'that', 'this', 'beautiful', 'res...",joy,joy
3,ChIJMzzxp6AcdkgRAbgqxgqGStg,51.531084,-0.093748,"Warm atmosphere, cosy and relaxing. Great musi...",warm atmosphere cosy and relaxing great music ...,"['warm', 'atmosphere', 'cosy', 'and', 'relaxin...",joy,neutral
4,ChIJMzzxp6AcdkgRAbgqxgqGStg,51.531084,-0.093748,Cracking boozer. Five stars all round. Good se...,cracking boozer five star all round good selec...,"['cracking', 'boozer', 'five', 'star', 'all', ...",worry,joy

In [86]:
df1 = pd.read_csv('../raw_data/label_aude.csv')[['place_id', 'lat', 'lng', 'emo_manually_added', 'Text']]
df2 = pd.read_csv('../raw_data/label_luke.csv')[['place_id', 'lat', 'lng', 'emotion', 'review']]
df3 = pd.read_csv('../raw_data/label_alan.csv')[['place_id', 'lat', 'lng', 'emotion', 'Text']]

In [88]:
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True) 
df1.rename(columns = {'emo_manually_added': 'emotion', 'Text': 'review'}, inplace=True)
df3.rename(columns = {'Text': 'review'}, inplace=True)

In [90]:
pred_testset = merge(df1, df2, df3)

In [91]:
#alan_df.to_csv('alan_df.csv', index=False)
pred_testset.to_csv('pred_testset.csv', index=False)

In [123]:
# check it out
dell = pd.read_csv('../raw_data/pred_testset.csv')
dell.head()

                      place_id        lat       lng  emotion                                             review
0  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586      sad  Absolutely perfect restaurant, in fact it coul...
1  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586      joy  Finally visited after the closure of Little Ba...
2  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586      joy  Thrilled that this beautiful restaurant has op...
3  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748  neutral  Warm atmosphere, cosy and relaxing. Great musi...
4  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748      joy  Cracking boozer. Five stars all round. Good se...

In [ ]:
    joy_df = data[data['emotion']=='joy'] #updatekey
    joy_df = joy_df.T

In [112]:
joy_df = dell[dell['emotion']=='joy']
joy_df.head()

                      place_id        lat       lng emotion                                             review
1  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586     joy  Finally visited after the closure of Little Ba...
2  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586     joy  Thrilled that this beautiful restaurant has op...
4  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748     joy  Cracking boozer. Five stars all round. Good se...
5  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748     joy  place is always busy and rightly so, they‚Äôve g...
6  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748     joy  A real gem of a pub, probably my favourite lon...

In [117]:
dell.rename(columns={'lng':'lon'}, inplace=True)
# data = pd.DataFrame([dell['lat'], dell['lon']])
# data.head()
dell = dell.T
dell.head()

,0,1,2,3,4,5,6,7,8,9,...,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245
place_id,ChIJv29u9WYbdkgRBrykLCrPnQw,ChIJv29u9WYbdkgRBrykLCrPnQw,ChIJv29u9WYbdkgRBrykLCrPnQw,ChIJMzzxp6AcdkgRAbgqxgqGStg,ChIJMzzxp6AcdkgRAbgqxgqGStg,ChIJMzzxp6AcdkgRAbgqxgqGStg,ChIJMzzxp6AcdkgRAbgqxgqGStg,ChIJMzzxp6AcdkgRAbgqxgqGStg,ChIJYVig82YbdkgRi6zgskkA6TM,ChIJYVig82YbdkgRi6zgskkA6TM,...,ChIJLV9o4dwbdkgRhMIKDC4RWQU,ChIJLV9o4dwbdkgRhMIKDC4RWQU,ChIJLV9o4dwbdkgRhMIKDC4RWQU,ChIJLV9o4dwbdkgRhMIKDC4RWQU,ChIJLV9o4dwbdkgRhMIKDC4RWQU,ChIJKeTqne0TdkgRXoPmHqy8yGg,ChIJKeTqne0TdkgRXoPmHqy8yGg,ChIJKeTqne0TdkgRXoPmHqy8yGg,ChIJKeTqne0TdkgRXoPmHqy8yGg,ChIJKeTqne0TdkgRXoPmHqy8yGg
lat,51.5396,51.5396,51.5396,51.5311,51.5311,51.5311,51.5311,51.5311,51.5397,51.5397,...,51.5903,51.5903,51.5903,51.5903,51.5903,51.5828,51.5828,51.5828,51.5828,51.5828
lon,-0.102586,-0.102586,-0.102586,-0.0937482,-0.0937482,-0.0937482,-0.0937482,-0.0937482,-0.102337,-0.102337,...,-0.120939,-0.120939,-0.120939,-0.120939,-0.120939,-0.316791,-0.316791,-0.316791,-0.316791,-0.316791
emotion,sad,joy,joy,neutral,joy,joy,joy,joy,worry,joy,...,joy,joy,joy,anger,neutral,joy,worry,joy,sad,sad
review,"Absolutely perfect restaurant, in fact it coul...",Finally visited after the closure of Little Ba...,Thrilled that this beautiful restaurant has op...,"Warm atmosphere, cosy and relaxing. Great musi...",Cracking boozer. Five stars all round. Good se...,"place is always busy and rightly so, they‚Äôve g...","A real gem of a pub, probably my favourite lon...",Best cask beer in town..,The healthy food surpassed expectations by far.,"Great food, really love the flavours that are ...",...,It's a very nice place. Very large lounge with...,"Lovely shelter accommodation, clean and friend...",It's clean has a lift and is very good for the...,They cut the tree in front of our house in Abb...,NaN,"Just amazing...\r\nExcellent service,specially...",The room and the bathroom extremely clean!\r\n...,Really enjoyed the stay there. Extremely clean...,"I love premier inn, the beds are comfortable, ...","Parking a headache, download a app, Where can ..."

In [122]:
joy_df = dell[dell['emotion']=='joy'] #updatekey
joy_df = joy_df.T

KeyError: 'emotion'

In [115]:
joy_df = dell[dell['emotion']=='joy'] 
joy_df.head()

                      place_id        lat       lng emotion                                             review
1  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586     joy  Finally visited after the closure of Little Ba...
2  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586     joy  Thrilled that this beautiful restaurant has op...
4  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748     joy  Cracking boozer. Five stars all round. Good se...
5  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748     joy  place is always busy and rightly so, they‚Äôve g...
6  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748     joy  A real gem of a pub, probably my favourite lon...

In [119]:
testit = pd.read_csv('../raw_data/pred_testset.csv')

In [120]:
testit.head()

                      place_id        lat       lng  emotion                                             review
0  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586      sad  Absolutely perfect restaurant, in fact it coul...
1  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586      joy  Finally visited after the closure of Little Ba...
2  ChIJv29u9WYbdkgRBrykLCrPnQw  51.539604 -0.102586      joy  Thrilled that this beautiful restaurant has op...
3  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748  neutral  Warm atmosphere, cosy and relaxing. Great musi...
4  ChIJMzzxp6AcdkgRAbgqxgqGStg  51.531084 -0.093748      joy  Cracking boozer. Five stars all round. Good se...

In [121]:
preview = pd.read_csv('../raw_data/review_predictions.csv')
preview.head()

,Unnamed: 0,place_id,lat,lng,Text,clean_text,tokenized_text,emotion
0,0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Nice budget hotel....room is clean and well ma...,nice budget hotelroom clean well maintainedgoo...,"['nice', 'budget', 'hotelroom', 'clean', 'well...",worry
1,1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,This hotel is well managed with great staff on...,hotel well managed great staff hour reception ...,"['hotel', 'well', 'managed', 'great', 'staff',...",worry
2,2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",lovely service clean homely lovely resident ne...,"['lovely', 'service', 'clean', 'homely', 'love...",joy
3,3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",dirty carpet never cleaned curry stain carpet ...,"['dirty', 'carpet', 'never', 'cleaned', 'curry...",joy
4,4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star much terrible hotel room dirty clean...,"['even', 'star', 'much', 'terrible', 'hotel', ...",joy

# Button

In [ ]:
import pandas as pd
button = pd.read_csv('../raw_data/pred_testset.csv')

In [14]:
button.shape

(2246, 5)

In [15]:
button['emotion'].value_counts()

joy        167
neutral     39
anger       33
sad         29
worry       27
Neutral      1
Joy          1
Sad          1
Anger        1
Name: emotion, dtype: int64

In [10]:
joy_button = button[button['emotion']=='joy']
joy_button['place_id'].value_counts()

ChIJO6vgkWcFdkgRjLCrLkS_3ak    6
ChIJKSDtn10FdkgRPbUAQKJlQ7U    6
ChIJDeqJal4FdkgRkrlDfWtBPNw    5
ChIJQRA31fQPdkgRDa8iiwy-GcI    5
ChIJDeqJal4FdkgRyboPczDa_-8    5
ChIJP0wwqWAFdkgRMuqRLzHiCHM    5
ChIJIXvOu-QbdkgRDj-fpH1C0E8    5
ChIJz1y33_cPdkgRP3ghYOpJYoI    5
ChIJNdTypRWm2EcRGOVqTq72t44    4
ChIJVWd-ULgPdkgR6YP4gY60HQA    4
ChIJvTehVPUPdkgRUieu4YLfcUo    4
ChIJKSMdVEu72EcROnG__fcK31s    4
ChIJXeC1Cl4FdkgRbOWJlFcZHLU    4
ChIJq5YDCh272EcRLYdpEzcbtGw    4
ChIJYVig82YbdkgRi6zgskkA6TM    4
ChIJ78YAFBEcdkgRIwD7e_LGfMY    4
ChIJMzzxp6AcdkgRAbgqxgqGStg    4
ChIJzacQU9cbdkgReQhGeXtnOJo    4
ChIJqVIOIfUPdkgRerErzHPHpkE    4
ChIJ-4kPg4sPdkgRvllCY0z_8bs    4
ChIJdX6YBbik2EcRmqHVqP63Nn0    3
ChIJiwVttYym2EcRUdFHMteOfCo    3
ChIJM6qXlrWk2EcRKcE2DZNpaXE    3
ChIJLW7hTG-u2EcRcBPNakWWbwU    3
ChIJJ-LmW_Sm2EcRAet_3xIEtUw    3
ChIJk4Kflpmm2EcR44Z1_QnyTY8    3
ChIJBeJgcvQbdkgR-bC9Nl8Z6Z4    3
ChIJNT8NrJEPdkgRmyDOqth_efg    3
ChIJp1t__G6l2EcR0e3lX2oGko4    3
ChIJfZ_5N5Sl2EcRMDAdxyEt9RA    3
ChIJZ9pzJ8UPdkgRn46ont0RtTY    3
ChIJLV9o4dwbdkgRhMIKDC4RWQU    3
ChIJB-7BM44PdkgRx--HGw3a1tw    3
ChIJy7aRXt8bdkgRADsmqQEJhVg    3
ChIJhbVHinGw2EcRWenszwWz6As    3
ChIJ1TymZuMbdkgRcbLHeSgfG6Q    2
ChIJ1XbeSvOm2EcRjAb1EdjagNQ    2
ChIJH9peuPobdkgRQ2qo47Y5j1Y    2
ChIJG4IcmDkFdkgR3IYfJhJy-SM    2
ChIJNw_4neIbdkgRjlBQeWzj6SY    2
ChIJu2BaUCwadkgRdHeGOrIgS9E    2
ChIJER5T-ywadkgRnlC560gCnhg    2
ChIJKeTqne0TdkgRXoPmHqy8yGg    2
ChIJv29u9WYbdkgRBrykLCrPnQw    2
ChIJ400XYRWm2EcR_iJhf82BLDc    2
ChIJcSNOCUCm2EcRrFQjuotq16o    2
ChIJCWkNMQiy2EcRcfqsx-_60Hw    2
ChIJP3aPKfQPdkgRx3vcyQ0F1N0    2
ChIJTza7euMbdkgRQp-ADPooekk    1
ChIJZ1HqMmCk2EcRp75-ttvFCaY    1
ChIJnVU360cZdkgROLARjXzIYtg    1
ChIJ1TVZs1UFdkgRIeWxo-jEYaE    1
ChIJq2Zmjyem2EcRFDeOEO3Y3pk    1
ChIJYQCtg00FdkgREw34v1ji0m4    1
Name: place_id, dtype: int64

In [12]:
#dataframe[column].value_counts().index.tolist()
joyest = joy_button['place_id'].value_counts().index.tolist()[0]

In [13]:
f"https://www.google.com/maps/place/?q=place_id:{joyest}"

'https://www.google.com/maps/place/?q=place_id:ChIJO6vgkWcFdkgRjLCrLkS_3ak'

# Textbox

In [43]:
import pandas as pd
text = 'Hello world, I am feeling great today! The world is wonderful YES!!!'
text_df = {
    'Text': [text]
}
text_df = pd.DataFrame(text_df)
text_df.head()

                                                Text
0  Hello world, I am feeling great today! The wor...

In [44]:
from LondonEmotions.data import clean_data
clean_text = clean_data(text_df)
clean_text

                                                Text                                         clean_text                                     tokenized_text
0  Hello world, I am feeling great today! The wor...  hello world feeling great today world wonderfu...  [hello, world, feeling, great, today, world, w...

In [53]:
text_value = clean_text['tokenized_text']
text_value[0]

['hello', 'world', 'feeling', 'great', 'today', 'world', 'wonderful', 'yes']

In [102]:
# save and load tokenizer: 
#https://stackoverflow.com/questions/45735070/keras-text-preprocessing-saving-tokenizer-object-to-file-for-scoring
#
# GCP path: gs://wagon-ml-london-emotions/models/tokenizer/model_tokenizer
from tensorflow.python.lib.io import file_io
import pickle
# with file_io.FileIO('models_tokenizer_model_tokenizer.pickle', 'rb') as handle:
# #     tokenizer = pickle.load(handle)
# tokenizer = pickle.load('gs://wagon-ml-london-emotions/models/tokenizer/model_tokenizer.pickle')

#local?
# tokenizer = models_tokenizer_model_tokenizer.pickle
with file_io.FileIO('../models_tokenizer_model_tokenizer', 'rb') as handle:
     tokenizer = pickle.load(handle)

In [103]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
max_seq_len = 300
index_of_words = tokenizer.word_index
vocab_size = len(index_of_words) + 1
sequence_text = tokenizer.texts_to_sequences(text_value)
text_pad = pad_sequences(sequence_text, maxlen=max_seq_len)
text_pad

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0, 396, 213, 105,  19,  28, 213, 235,
         41]])

In [104]:
from tensorflow.keras.models import load_model
model = load_model('../raw_data/saved_model.pb')
preds = model.predict(text_pad)

In [105]:
preds

array([[0.04116383, 0.05932348, 0.49449673, 0.21327509, 0.19174081]],
      dtype=float32)

In [106]:
preds.sum()

0.99999994

In [107]:
#str(round(answer, 2))
angry = str(round(preds[0][0]*100,2))
joy = str(round(preds[0][1]*100,2))
worry = str(round(preds[0][2]*100,2))
neutral = str(round(preds[0][3]*100,2))
sad = str(round(preds[0][4]*100,2))

In [108]:
print(f"Joy: {joy}%")
print(f"Worry: {worry}%")
print(f"Sad: {sad}%")
print(f"Neutral: {neutral}%")
print(f"Angry: {angry}%")

Joy: 5.93%
Worry: 49.45%
Sad: 19.17%
Neutral: 21.33%
Angry: 4.12%

In [110]:
x = pd.read_csv("../downloads/predicted_reviews.csv")
x.head()

,place_id,lat,lng,Text,clean_text,tokenized_text,emotion,manually_added_emotion,"joy, sad, worry, anger, neutral"
0,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Nice budget hotel....room is clean and well ma...,nice budget hotelroom is clean and well mainta...,"['nice', 'budget', 'hotelroom', 'is', 'clean',...",worry,NaN,NaN
1,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,This hotel is well managed with great staff on...,this hotel is well managed with great staff on...,"['this', 'hotel', 'is', 'well', 'managed', 'wi...",worry,NaN,NaN
2,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"10 our of 10 lovely service, clean and homely....",our of lovely service clean and homely with lo...,"['our', 'of', 'lovely', 'service', 'clean', 'a...",joy,NaN,NaN
3,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,"Very Dirty, carpet never been cleaned, Curry s...",very dirty carpet never been cleaned curry sta...,"['very', 'dirty', 'carpet', 'never', 'been', '...",joy,NaN,NaN
4,ChIJiwVttYym2EcRUdFHMteOfCo,51.563524,0.070761,Even 1 star is too much for this terrible hote...,even star is too much for this terrible hotel ...,"['even', 'star', 'is', 'too', 'much', 'for', '...",joy,NaN,NaN