In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../raw_data/text_emotion.csv')

In [3]:
data.head()

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [5]:
data['sentiment'].value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [24]:
test_data = pd.read_csv('../raw_data/data_test.csv')
train_data = pd.read_csv('../raw_data/data_train.csv')

In [10]:
train_data.head()

   Emotion                                               Text
0  neutral   There are tons of other paintings that I thin...
1  sadness  Yet the dog had grown old and less capable , a...
2     fear  When I get into the tube or the train without ...
3     fear  This last may be a source of considerable disq...
4    anger  She disliked the intimacy he showed towards so...

In [13]:
train_data['Emotion'].value_counts()

sadness    1641
joy        1619
neutral    1616
anger      1566
fear       1492
Name: Emotion, dtype: int64

In [15]:
train_data.loc[0]

Emotion                                              neutral
Text        There are tons of other paintings that I thin...
Name: 0, dtype: object

In [26]:
train_data['clean_text'] = train_data['Text'].apply(lambda x: x.lower())

In [30]:
train_data['clean_text'] = train_data['clean_text'].apply(
    lambda x: ''.join(let for let in x if not let.isdigit())
)

In [31]:
train_data

,Emotion,Text,clean_text
0,neutral,There are tons of other paintings that I thin...,there are tons of other paintings that i thin...
1,sadness,"Yet the dog had grown old and less capable , a...","yet the dog had grown old and less capable , a..."
2,fear,When I get into the tube or the train without ...,when i get into the tube or the train without ...
3,fear,This last may be a source of considerable disq...,this last may be a source of considerable disq...
4,anger,She disliked the intimacy he showed towards so...,she disliked the intimacy he showed towards so...
...,...,...,...
7929,sadness,When I felt alone and without love.,when i felt alone and without love.
7930,anger,Irina hung up in exasperation .,irina hung up in exasperation .
7931,sadness,No wonder she was now inconsolable at the pros...,no wonder she was now inconsolable at the pros...
7932,fear,My friend had been telling me about a certain ...,my friend had been telling me about a certain ...
7933,anger,I've created a monster ... you're a better ba...,i've created a monster ... you're a better ba...