In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
data = pd.read_csv('../raw_data/text_emotion.csv')

In [53]:
data.head()

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [54]:
data['sentiment'].value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [55]:
test_data = pd.read_csv('../raw_data/data_test.csv')
train_data = pd.read_csv('../raw_data/data_train.csv')

In [56]:
train_data.head()

   Emotion                                               Text
0  neutral   There are tons of other paintings that I thin...
1  sadness  Yet the dog had grown old and less capable , a...
2     fear  When I get into the tube or the train without ...
3     fear  This last may be a source of considerable disq...
4    anger  She disliked the intimacy he showed towards so...

In [57]:
train_data['Emotion'].value_counts()

sadness    1641
joy        1619
neutral    1616
anger      1566
fear       1492
Name: Emotion, dtype: int64

In [58]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [59]:
import string
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

In [69]:

def clean_data(data):
    """
    clean and preprocess data
    """

    # Lowercase text
    data['clean_text'] = data['Text'].apply(
        lambda x: x.lower()
        )

    # Strip whitespace
    data['clean_text'] = data['clean_text'].apply(
        lambda x: x.strip()
        )

    # Remove numbers
    data['clean_text'] = data['clean_text'].apply(
        lambda x: ''.join(let for let in x if not let.isdigit())
        )

    # Remove punctuation
    data['clean_text'] = data['clean_text'].apply(
        lambda x: ''.join(let for let in x if not let in string.punctuation)
        )

    # Tokenization with nltk
    data['clean_text'] = data['clean_text'].apply(
        lambda x: word_tokenize(x)
    )
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    data['clean_text'] = data['clean_text'].apply(
        lambda x: [word for word in x if word not in stop_words]
        )

    # Lemmatizing with nltk
    lemmatizer = WordNetLemmatizer()
    data['clean_text'] = data['clean_text'].apply(
        lambda x: ' '.join(lemmatizer.lemmatize(word) for word in x)
        )

    # Return data
    return data

In [70]:
t_data = clean_data(train_data)

In [71]:
t_data

,Emotion,Text,clean_text
0,neutral,There are tons of other paintings that I thin...,ton painting think better
1,sadness,"Yet the dog had grown old and less capable , a...",yet dog grown old le capable one day gillie co...
2,fear,When I get into the tube or the train without ...,get tube train without paying ticket
3,fear,This last may be a source of considerable disq...,last may source considerable disquiet one migh...
4,anger,She disliked the intimacy he showed towards so...,disliked intimacy showed towards resentful mem...
...,...,...,...
7929,sadness,When I felt alone and without love.,felt alone without love
7930,anger,Irina hung up in exasperation .,irina hung exasperation
7931,sadness,No wonder she was now inconsolable at the pros...,wonder inconsolable prospect child returned lo...
7932,fear,My friend had been telling me about a certain ...,friend telling certain bird cry night sign som...
7933,anger,I've created a monster ... you're a better ba...,ive created monster youre better bayer